body {
	background-color: #141414;
}
/* index pagina */
.index-page {
	background-color: #000;
}
a {
	color: #fff;
}

.netflix-logo a {
	width: 20%;
}


#trailer-photo {
	height: 70%;
	width: 100%;
}
.background {
	background-image: url('images/background.jpg');
	background-repeat: no-repeat;
	background-size: 100% 750px;
	height: 750px;
	position: relative;
}
.logo {
	float: left;
	margin-bottom: 10px;
	width: 20%;
}
.login-button {
	background-color: #E50914;
	border-radius: 3px;
	color: #FFF;
	float: right;
	font-size: 1rem;
	height: 40px;
	margin-right: 3%;
	margin-top: 20px;
	padding: 7px 17px;
	width: 100px;
}
.info {
	left: 30%;
	position: absolute;
	right: 30%;
	text-align: center;
	top: 20%;
	width: 41%;
}
h1 {
	color: white;
	font-size: 4rem;
}
h2 {
	color: #FFF;
	font-size: 3.125rem;
}
p {
	color: #FFF;
	font-size: 1.625rem;
}
.little-text {
	font-size: 1.2rem;
}
.email-field {
	font-size: 16px;
	height: 75px;
	padding: 10px 10px 0;
	width: 65%;
}
.aanmeld-button {
	background-color: #E50914;
	box-shadow: none;
	color: #FFF;
	font-size: 1.875rem;
	height: 75px;
	padding: .5rem 0;
	width: 34%;
}
.gray {
	background-color: #293133;
	height: 10px;
	margin-top: 50px;
	width: 100%;
}
.space {
	margin-top: 100px;
}
.little-space {
	margin-top: 10px;
}
.img {
	height: auto;
	margin-top: -70px;
	max-width: 500px;
	width: 50%;
}
.text-field {
	padding-bottom: 4%;
	padding-top: 4%;
	width: 50%;
}
.left {
	float: left;
}
.right {
	float: right;
}
.center {
	margin: auto;
	text-align: center;
}
.info-field {
	margin: auto;
	width: 87%;
}
.accordion {
	width: 70%;
}
.accordion-button {
	background-color: #303030;
	color: #FFF;
	font-size: 1.625rem;
	padding: .8em 2.2em .8em 1.2em;
}
.accordion-button:not(.collapsed) {
	background-color: #303030;
	color: white;
}
.accordion-collapse {
	background-color: #303030;
	color: #FFF;
}
.accordion-body {
	font-size: 1.625rem;
	text-align: left;
}
/* Inlog pagina*/
.login-page {
	background-image: url('images/background.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}
.login-form {
	background-color: rgba(0,0,0,.75);
	height: 660px;
	padding: 60px 68px 40px;
	width: 40%;
}
.login-form .input-field {
	background-color: #293133;
	border-radius: 4px;
	color: #FFF;
	font-size: 16px;
	height: 50px;
	padding: 10px 11px;
	width: 100%;
}
.login-form label {
	color: #b3b3b3;
	font-size: 13px;
}
.login-form a {
	color: #b3b3b3;
	font-size: 13px;
	text-decoration: none;
}
.inlog-form i {
	clear: both;
}
.inlog-button {
	background-color: #E50914 !important;
	border-radius: 4px;
	color: #FFF;
	width: 100%;
}
/* Aanmeld pagina */
.aanmeld-pagina {
	background-color: #FFF;
}
.login {
	color: #333;
	font-size: 19px;
	margin: 0 3%;
	text-decoration: none;
}
.aanmeld-form {
	height: 660px;
	padding: 60px 68px 40px;
	width: 45%;
}
.aanmeld-pagina .little-text {
	color: #333;
	font-size: 13px;
	text-align: left;
}
.aanmeld-pagina .title {
	color: #333;
	font-size: 23px;
	text-align: left;
}
.aanmeld-pagina .text {
	color: #333;
	font-size: 19px;
	text-align: left;
}
.aanmeld-pagina .input-field {
	height: 50px;
	width: 100%;
}
.aanmeld-pagina .link {
	color: #0071EB;
	font-size: 19px;
	text-align: left;
	text-decoration: none;
}
.aanmeld-pagina .checkbox {
	height: 25px;
	width: 25px;
}
.aanmeld-pagina label {
	font-size: 16px;
}


/*esmee*/
.bg-dark{
	background-color: #000 !important;
}

.navbar-nav{
	float: left;
}

.logo{
	width: 160px !important;
}

@media screen and (max-width: 600px){
	.nav-item{
		display: none;
	}
}

/*footer*/
footer {
	margin-top: 100px;
	padding: 30px 0;
}
footer:after {
	clear: both;
	content: "";
	display: block;
}
footer ul {
	color: #eee;
	float: left;
	list-style-type: none;
	margin-right: 2%;
	padding: 0;
	width: 23%;
}
footer li {
	margin: 10px 0;
}
footer a {
	color: #eee;
	text-decoration: none;
}
/*Justin*/
#netflix-logo {
	max-height: 10%;
	max-width: 10%;
}
.lineup-carousel .carousel-item:hover {
	transform: scale(1.5);
	z-index: 1;
}
.carousel-item:hover ~ .carousel-item {
	transform: translateX(25%);
}
.carousel-container {
	display: flex;
	margin-top: 50px;
}
.carousel-item {
	display: inline-block;
	flex: 1 1 0;
	position: relative;
	transition: transform 500ms;
}
.lineup-carousel {
	background-color: #141414;
	color: white;
	left: 5%;
	overflow-x: scroll;
	overflow-y: hidden;
	top: 90%;
	white-space: nowrap;
	width: 100%;
}
.lineup-carousel ul {
	display: inline;
	list-style-type: none;
	width: 100%;
}
.lineup-carousel li {
	display: inline;
	list-style-type: none;
	width: 100%;
}
.lineup-carousel img {
	max-height: 350px;
	max-width: 350px;
}
.dropdown-menu {
	background-color: #141414;
}

.dropdown-toggle{
	display: none;
}

/* Gehele content die in main staat valt hier binnen */
.content{
	margin: 0 auto;
	width: 90%;
  }
  
  /* Horizontaal kunnen sliden tussen de plaatjes */
  .slide{
	background-color:#141414;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
  }
  
  /* Titel van de categorie */
  .film{
	color: white;
	font-size: 20px;
  }
  
  /* Films plaatjes */
  .films{
	border-radius: 2%;
	display: inline-block;
	margin: 0.5%;
	max-width: 206px;
  }
/*footer*/
.logo{
	width: 20%;
	float: left;
	margin-bottom:10px ;
}
footer{
	margin-top: 100px;
	padding: 30px 0;
}

footer:after{
	content: "";
	display: block;
	clear: both;
}

footer ul{
	float: left;
	padding: 0;
	list-style-type: none;
	color: #eee;
	width: 23%;
	margin-right: 2%;
}

footer li{
	margin: 10px 0;
}

footer a{
	color: #eee;
	text-decoration: none;
}

.item-image {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.item-text {
	text-align: center;
	color: black;
}

.item-text h3 {
	color: #FFFFFF;
	font-size: xxx-large;
}

.glide__slide {
	position: relative;
}
.glide__slide img {
	max-width: 100%;
}

button.glide__arrow.glide__arrow--prev.glide__arrow.glide__arrow--prev {
	left: 1.5rem;
	font-size: 35px;
	background: gray;
	border: 0;
	border-radius: 50%;
}
button.glide__arrow.glide__arrow--prev.glide__arrow.glide__arrow--prev span{
	color: red;
	top: -4px;
	position: relative;
}

button.glide__arrow.glide__arrow--next.glide__arrow.glide__arrow--next {
	right: 1.5rem;
	font-size: 35px;
	background: gray;
	border: 0;
	border-radius: 50%;
}

button.glide__arrow.glide__arrow--next.glide__arrow.glide__arrow--next span{
	color: red;
	top: -4px;
	position: relative;
}